@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --hover-color: hsl(244.5, 82.6%, 68.4%);
}

body {
    /* width: 1440px;
    height: 900px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pale-blue);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100dvh;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    max-width: 450px;
    color: var(--desaturated-blue);
    border-radius: 1rem;
    gap: 1.75rem;
}

.container>*:not(figure) {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.container figure {
    margin: 0;
}

.container figure img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.container h1 {
    font-weight: 900;
    color: var(--dark-blue);
    margin-top: 0;
    margin-bottom: 0;
}

.container p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.container .plan {
    background-color: var(--very-pale-blue);
    border-radius: .75rem;
    padding: 1.5rem;
}

.plan img {
    float: left;
    margin-right: 1rem;
}

.plan .planname {
    float: left;
    font-weight: 900;
    color: var(--dark-blue);
}

.plan .price {
    float: left;
}

.plan a {
    float: right;
}

.plan a:link {
    color: var(--bright-blue);
}

.plan a:visited {
    color: var(--bright-blue);
}

.plan a:hover {
    color: var(--hover-color);
    cursor: pointer;
    text-decoration: none;
}

.plan a:active {
    color: var(--bright-blue);
}

.container button {
    font-weight: 700;
    border: 0;
    font-size: 16px;
}

.container .proceed {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    border-radius: .75rem;
    box-shadow: var(--dark-blue) 0 1rem 3rem -1rem;
    padding: 1rem;
}

.container .proceed:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.container .cancel {
    background-color: transparent;
    color: var(--desaturated-blue);
    margin-bottom: 3rem;
}

.container .cancel:hover {
    cursor: pointer;
    color: var(--dark-blue);
}